@import "tailwindcss";
@import "aos/dist/aos.css";

* {
  scroll-behavior: smooth;
}

.section-container {
  color: white;
  margin: 1.5rem 6rem;
}

@media (max-width: 1024px) {
  .section-container {
    margin: 1.5rem;
  }
}
